<div class="assets">
<% if @assets.present? %>
  <ol id="selectable">
    <% @assets.each do |asset| %>
	<li class="ui-state-default" id="<%= asset.asset.url %>">
          <div class="icon"><%= image_tag(asset.asset.url(:bigthumb)) %></div>
          <span>
            <%= asset.title %>
          </span>
        </li>
    <% end %>
  </ol>
<% else %>
    <div class="no_message">No assets for condition!</div>
<% end %>
</div>

<% if @assets.present? %>
  <div class="assets_pagination_container">
    <%= will_paginate @assets %>
  </div>
<% end %>

<script type="text/javascript">

$(document).ready(function(){

  <!-- Selectable logic for assets -->
  $( "#selectable" ).selectable();

});

</script>