<!-- main -->
		<div id="main">
			<!-- content -->
			<div id="content">
				<div class="container">
					<h2>Assets</h2>
					<a href="#" class="btn"><span>Add a new Asset</span></a>
					<!-- search form -->
					<form action="#" class="search">
						<fieldset>
							<div class="holder">
								<span class="text"><input type="text" /></span>
								<input type="submit" value="SEARCH" class="submit" />
							</div>
						</fieldset>
					</form>
				</div>
				<!-- buttons -->
				<ul class="bar">
					<li><a href="#" class="active"><span>all</span></a></li>
					<li><a href="#"><span>images</span></a></li>
					<li><a href="#"><span>Videos</span></a></li>
					<li><a href="#"><span>Audio</span></a></li>
					<li><a href="#"><span>Files</span></a></li>
				</ul>
				<!-- items -->
				<table class="items">
					<thead>
						<tr>
							<th class="name">Name</th>
							<th>Type</th>
							<th class="data">Date</th>
							<th class="actions">Actions</th>
						</tr>
						<tr class="divider">
							<td colspan="4">&nbsp;</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="name">Recent Vimeo Videos</td>
							<td>Image</td>
							<td class="data">June 14th, 2011</tdclass>
							<td class="actions">
								<ul>
									<li><a href="#">Preview</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</td>
						</tr>
						<tr class="divider">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Bundle Up This Christmas</td>
							<td>File</td>
							<td class="data">December 14th, 2011</td>
							<td class="actions">
								<ul>
									<li><a href="#">Preview</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</td>
						</tr>
						<tr class="divider">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Global Callouts &#35;1</td>
							<td>File</td>
							<td class="data">March 11th, 2009</td>
							<td class="actions">
								<ul>
									<li><a href="#">Preview</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</td>
						</tr>
						<tr class="divider">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Global Callouts &#35;2</td>
							<td>Image</td>
							<td class="data">March 11th, 2009</td>
							<td class="actions">
								<ul>
									<li><a href="#">Preview</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</td>
						</tr>
						<tr class="divider">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">2011 Financial Report</td>
							<td>File</td>
							<td class="data">January 28th, 2011</td>
							<td class="actions">
								<ul>
									<li><a href="#">Preview</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</td>
						</tr>
						<tr class="divider">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Recent Vimeo Videos</td>
							<td>Image</td>
							<td class="data">June 14th, 2011</td>
							<td class="actions">
								<ul>
									<li><a href="#">Preview</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</td>
						</tr>
						<tr class="divider">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Bundle Up This Christmas</td>
							<td>Code</td>
							<td class="data">December 14th, 2011</td>
							<td class="actions">
								<ul>
									<li><a href="#">Preview</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</td>
						</tr>
						<tr class="divider">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Global Callouts &#35;1</td>
							<td>Code</td>
							<td class="data">March 11th, 2009</td>
							<td class="actions">
								<ul>
									<li><a href="#">Preview</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</td>
						</tr>
						<tr class="divider">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Global Callouts &#35;2</td>
							<td>Image</td>
							<td class="data">March 11th, 2009</td>
							<td class="actions">
								<ul>
									<li><a href="#">Preview</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</td>
						</tr>
						<tr class="divider">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">2011 Financial Report</td>
							<td>Document</td>
							<td class="data">January 28th, 2011</td>
							<td class="actions">
								<ul>
									<li><a href="#">Preview</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</td>
						</tr>
						<tr class="divider">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Recent Vimeo Videos</td>
							<td>Image</td>
							<td class="data">June 14th, 2011</td>
							<td class="actions">
								<ul>
									<li><a href="#">Preview</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</td>
						</tr>
						<tr class="divider">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Bundle Up This Christmas</td>
							<td>Code</td>
							<td class="data">December 14th, 2011</td>
							<td class="actions">
								<ul>
									<li><a href="#">Preview</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</td>
						</tr>
						<tr class="divider">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Global Callouts &#35;1</td>
							<td>Code</td>
							<td class="data">March 11th, 2009</td>
							<td class="actions">
								<ul>
									<li><a href="#">Preview</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</td>
						</tr>
						<tr class="divider">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr>
							<td class="name">Global Callouts &#35;2</td>
							<td>Image</td>
							<td class="data">March 11th, 2009</td>
							<td class="actions">
								<ul>
									<li><a href="#">Preview</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</td>
						</tr>
						<tr class="divider">
							<td colspan="4">&nbsp;</td>
						</tr>
						<tr>
							<td class="name last-row-l">2011 Financial Report</td>
							<td>Document</td>
							<td class="data">January 28th, 2011</td>
							<td class="actions last-row-r">
								<ul>
									<li><a href="#">Preview</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Delete</a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- paging -->
				<ul class="paging">
					<li class="next"><a href="#">next</a></li>
					<li class="back"><a href="#">back</a></li>
					<li><strong>1</strong></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
				</ul>
			</div>
			<!-- sidebar -->
			<div id="sidebar">
				<h3>Quick Links</h3>
				<ul class="btn-bar">
          <li>
                              <%= link_to(new_admin_image_path) do %>
                                <span>Upload a File</span>
                              <% end %>
                            </li>
				</ul>
				<h3>API Links</h3>
				<ul class="btn-bar gray-btn">
					<li><a href="#"><span><strong>Log-in</strong><em class="vimeo">vimeo</em></span></a></li>
					<li><a href="#"><span><strong>Log-in</strong><em class="flickr">flickr</em></span></a></li>
					<li><a href="#"><span><strong>Log-in</strong><em class="tumblr">tumblr.</em></span></a></li>
				</ul>
			</div>
		</div>

