<!-- form of adding assets -->
<%= form_for(['admin', @asset], :html => { :multipart => true }) do |f| %>

  <!-- heading -->
  <div class="heading">

    <ul class="buttons">
      <li class="create_module">
        <input type="submit" name="submit" value="Add Asset" id="submit" class="save_button" style="border: 0;" />
      </li>
    </ul>

    <h2>New asset</h2>

  </div>

  <!-- main -->
  <div id="main" class="shadow">

    <!-- content -->
    <div id="content">
      <%= render :partial => 'form', :locals => { :f => f } %>
    </div>

 <!-- sidebar -->
 <div id="sidebar">
 </div>

</div>

<% end %>