<div id="footer_navigation" class="navigations">
	<ul>
    <% for p in PagesToNavigation.for_navigation_roots('Footer Navigation') %>  
    	<% if p.page.status == "published" %>
        <li>	
    	    <%= link_to p.page.title.capitalize, (!p.page.redirect_url.blank? ? p.page.redirect_url : friendly_path(p.page)) %>
        </li>
    	<% end %>
    <% end %>
	</ul>
	5ifty & 5ifty &copy; 2010 - <%= Date.today.strftime("%Y") %>
</div>