<!-- form of adding pages -->
<%= form_for([:admin, @custom_module], :html => { :class => "module-title" }) do |f| %>

  <!-- heading -->
  <div class="heading">

    <ul class="buttons">
      <li class="create_module">
        <input type="submit" name="submit" value="Create Module" id="submit" class="save_button" style="border: 0;" />
      </li>
    </ul>

    <h2>Add New Module</h2>

  </div>

  <!-- main -->
  <div id="main" class="shadow">

    <!-- content -->
    <div id="content">
      <%= render :partial => 'form', :locals => { :f => f } %>
    </div>

 <!-- sidebar -->
 <div id="sidebar">
   <h3>Available Modules</h3>
   <ul class="add-nav">
     <li>
       <a href="#" class="active">
         <span>
           <strong id="wysiwyg">WYSIWYG</strong>
         </span>
       </a>
     </li>
   </ul>
 </div>

</div>

<% end %>

