<% if @page.blank? %>
  <p style="text-align: center; color:red; font-weight: bold; font-size: 16px;">Home page doesn't exist!</p>
<% end %>

<div class="grid_12">
  <% for header_content in @header_contents %>
    <%= raw(header_content.content) %>
  <% end %>
</div>

<div class="clear"></div>

<div class="grid_8">
  <% for page_content in @page_contents %>
    <%= raw(page_content.content) %>
  <% end %>
</div>

<div class="grid_4">
  <% for sidebar_content in @sidebar_contents %>
    <%= raw(sidebar_content.content) %>
  <% end %>
</div>