<!-- main -->
		<div id="main">
			<!-- content -->
			<div id="content">
				<h2>Custome Modules</h2>
				<!-- custome modules list -->
				<ul class="list blue">
					<li>
						<div class="holder">
							<a href="#">Global Campaign Graphic</a>
							<ul class="actions">
								<li><a href="#">Preview</a></li>
								<li><a href="#">Edit</a></li>
								<li><a href="#">Delete</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="holder">
							<a href="#">Holiday 2010 Campaign</a>
							<ul class="actions">
								<li><a href="#">Preview</a></li>
								<li><a href="#">Edit</a></li>
								<li><a href="#">Delete</a></li>
							</ul>
						</div>
					</li>
				</ul>
				<div class="heading-holder">
					<a href="#" class="btn-view"><span>view api settings</span></a>
					<h2>API Modules</h2>
				</div>
				<!-- API module list -->
				<ul class="list black-text">
					<li>
						<div class="holder">
							<a href="#">Recent Vimeo Videos</a>
						</div>
					</li>
					<li>
						<div class="holder">
							<a href="#">Recent Flickr Photo Sets</a>
						</div>
					</li>
					<li>
						<div class="holder">
							<a href="#">Featured Tumblr Posts</a>
						</div>
					</li>
				</ul>
      </div>
			<!-- sidebar -->
			<div id="sidebar">
				<h3>Quick Links</h3>
				<ul class="btn-bar">
					<li><a href="#"><span>Add a Module</span></a></li>
				</ul>
        <h3>API Links</h3>
				<ul class="btn-bar gray-btn">
					<li><a href="#"><span><strong>Log-in</strong><em class="vimeo">vimeo</em></span></a></li>
					<li><a href="#"><span><strong>Log-in</strong><em class="flickr">flickr</em></span></a></li>
					<li><a href="#"><span><strong>Log-in</strong><em class="tumblr">tumblr.</em></span></a></li>
				</ul>
			</div>
		</div>

