<div id="main_navigation" class="navigations">
	<ul>
    <% for p in PagesToNavigation.for_navigation_roots('Main Navigation') %>  
    	<% if p.page.status == "published" %>
        <li class="<%= if p.page.id == @page.id then 'active' end %>">	
    	    <%= link_to p.page.title.upcase, (!p.page.redirect_url.blank? ? p.page.redirect_url : friendly_path(p.page)) %>
        </li>
    	<% end %>
    <% end %>
	</ul>
</div>