<!-- main -->
		<div id="main">
			<!-- content -->
			<div id="content">
				<!-- info-block -->
				<div class="info-block">
					<!-- info-block heading -->
					<div class="title-holder">
						<h2>Settings</h2>
					</div>
					<!-- info-block content -->
					<div class="gray-area">
						<div class="holder">
							<a href="#">Edit Settings</a>
							<form action="" class="admin-email disabled">
								<fieldset>
									<div class="col">
										<label>ADMIN EMAIL</label>
										<span class="text"><input type="text" disabled="disabled" value="&#97;&#100;&#109;&#105;&#110;&#64;&#102;&#105;&#102;&#116;&#121;&#97;&#110;&#100;&#102;&#105;&#102;&#116;&#121;&#46;&#111;&#114;&#103;"/></span>
									</div>
									<div class="col">
										<label>PASSWORD </label>
										<span class="password"><input type="password" value="password" disabled="disabled" /></span>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
					<div class="gray-area">
						<div class="holder">
							<form action="" class="admin-email">
								<fieldset>
									<div class="col">
										<label>ADMIN EMAIL</label>
										<span class="text"><input type="text" value="&#97;&#100;&#109;&#105;&#110;&#64;&#102;&#105;&#102;&#116;&#121;&#97;&#110;&#100;&#102;&#105;&#102;&#116;&#121;&#46;&#111;&#114;&#103;"/></span>
									</div>
									<div class="col">
										<label>PASSWORD </label>
										<span class="password"><input type="password" value="password" /></span>
									</div>
									<div class="row">
										<input type="submit" value="save Changes" class="submit" />
										<a href="#">Cancel</a>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
				</div>
				<!-- info-block -->
				<div class="info-block">
					<!-- info-block heading -->
					<div class="title-holder">
						<a href="#"><span>clear api caches</span></a>
						<h2>API Settings</h2>
					</div>
					<!-- info-block's content -->
					<div class="gray-area">
						<div class="holder">
							<div class="section">
								<strong class="name">Vimeo Basic</strong>
								<dl>
									<dt>Status: </dt>
									<dd class="green">Active</dd>
									<dt>Updated: </dt>
									<dd>20 minutes ago</dd>
								</dl>
							</div>
							<form action="" class="admin-email">
								<fieldset>
									<div class="col">
										<label>API KEY</label>
										<span class="text"><input type="text" value="vimeo_api_key"/></span>
									</div>
									<div class="col">
										<label>API TOKEN</label>
										<span class="password"><input type="password" value="passwordddd" /></span>
									</div>
									<div class="row high">
											<input type="submit" value="save Changes" class="submit" />
											<a href="#">Cancel</a>
										</div>
								</fieldset>
							</form>
						</div>
					</div>
					<div class="gray-area small">
						<div class="holder">
							<div class="block">
								<strong class="name">Flickr Basic</strong>
								<dl>
									<dt>Status: </dt>
									<dd class="green">Active</dd>
									<dt>Updated: </dt>
									<dd>45 minutes ago</dd>
								</dl>
								<ul class="actions">
									<li><a href="#">Clear Cache</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Remove</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="gray-area small">
						<div class="holder">
							<div class="block">
								<strong class="name">Tumblr Basic</strong>
								<dl>
									<dt>Status: </dt>
									<dd class="red">Inactive</dd>
									<dt>Updated: </dt>
									<dd>12 days ago</dd>
								</dl>
								<ul class="actions">
									<li><a href="#">Clear Cache</a></li>
									<li><a href="#">Edit</a></li>
									<li><a href="#">Remove</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="gray-area small">
						<div class="holder">
							<div class="block">
								<strong class="name light">Eventbrite</strong>
								<ul class="actions">
									<li><a href="#">Activate</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="gray-area small">
						<div class="holder">
							<div class="block">
								<strong class="name light">Disqus</strong>
								<ul class="actions">
									<li><a href="#">Activate</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="gray-area small">
						<div class="holder">
							<div class="block">
								<strong class="name light">Salesforce</strong>
								<ul class="actions">
									<li><a href="#">Activate</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- sidebar -->
			<div id="sidebar">
				<h3>Quick Links</h3>
				<ul class="btn-bar">
					<li><a href="#"><span>Add a Module</span></a></li>
					<li><a href="#"><span>Upload a File</span></a></li>
					<li><a href="#"><span>Create a Module</span></a></li>
				</ul>
			</div>
		</div>

