<h1>Edit Category</h1>
<%= form_for([:admin, @category], :html => {:class => "admin_form"}) do |f| %>
<fieldset>
  <h3 class="header">Category Information</h3>
  <ul class="content">
    <li class="row">
      <label class="big">Name</label>
      <%= f.text_field :name, :class => "field field-big" %>
    </li>
  </ul>
  <div class="cl">&nbsp;</div>
</fieldset>
<div class="main-buttons">
	<input type="submit" 
	       name="submit" 
	       value="Save Changes" 
	       id="submit" 
	       class="save" />
	<div class="cl">&nbsp;</div>
</div>
<% end %>