<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Skinny CMS - Admin</title>
  <%=stylesheet_link_tag 'skinnycms/admin/devise' %>
</head>
<body>
  <div id="container">
    <div id="logo">
      <%= image_tag('skinnycms/admin/fiftyandfifty.gif') %>
    </div>
    <div id="form">
      <h3>Log in to the admin panel</h3>
      <%= yield %>
    </div>
  </div>
</body>
</html>
