<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Skinny CMS - Admin</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>  
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js" type="text/javascript"></script>
		<%= stylesheet_link_tag "uniform" %>
		<%= javascript_include_tag "uniform" %>
		
		<%= csrf_meta_tag %>
		<script type="text/javascript" charset="utf-8">
      $(function(){
        $("input[type=text]").uniform();
        $("input[type=password]").uniform();
      });
    </script>
		<style type="text/css" media="screen">
			body {
				width:900px;
				margin:0px auto;
				background-color:#1b1b1b;
			}
			
			#container {
				width:400px;
				margin:0px auto;
				padding-top:300px;
			}
			
			#form {
				background-color:#FFF;
				padding:15px 20px;
				margin-top:10px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
			}
			
			#form h2 {
				display:none;
			}
			
			#form h3 {
				margin:0px;
				font: 24px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
				color:#1b1b1b;
			}
			
			label {
				font: 15px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
				color:#666666;
			}
			
			input[type=text], input[type=password] {
				font-size:14px;
				width:250px;
			}
			
			input[type=submit] {
				background-color:#1d6175;
				border:0px;
				font-weight:bold;
				padding:5px 8px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				cursor:pointer;
			}
			
		</style>
	</head>
	<body>
		<div id="container">
			<div id="logo">
				<img src="/images/admin/logo.gif">
			</div>
			<div id="form">
				<h3>Log in to the admin panel</h3>
				<%= yield %>
			</div>
		</div>
	</body>
</html>
