<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title><%#= title %></title>
		<%#= stylesheet_link_tag "uniform", "admin/admin" %>
		<%#= include_tiny_mce_if_needed %>
		<%#= csrf_meta_tag %>
	</head>
	<body>
		<div id="page">
			<div id="sidebar">
			  <%#= render :partial => "shared/sidebar" %>
			</div>
			<div id="content">
				<%= yield %>
			  <div class="cl">&nbsp;</div>
			</div>
		</div>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>  
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js" type="text/javascript"></script>
		<%#= javascript_include_tag "uniform", "rails", "admin" %>
    <%#= javascript_include_tag 'nestedSortable.1.2.1/jquery.ui.nestedSortable.js' %>
	</body>
</html>
